.friend-buttons {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.find-friends {
  margin: 0 10px;
}

.followers {
  margin: 0 10px;
}

.following {
  margin: 0 10px;
}

.user-cards {
  margin-top: 20px;
}